html*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background: #eee;

}
body nav ul{
  float:right;
}
/*tHIS NEXT ONE IS ONLY FOR THE BAR THING ON THE TOP*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  margin-left: 18px;
  height:65px;
}
nav{
  width: 100%;
  height: 65px;
  background-color: black;
}
/*THIS IS FOR THE INDIC=VIDUAL TEXT*/
ul li{
  float:left;
}
/*THIS IS HOW THE ELEMENTS OF THE LIST ARE LOOKING*/
ul li a{
  display: block;
  color: white;
  text-align: justify;
  padding: 12px;
  text-decoration: none;
  margin-right: 35px;
  font-size: 18px;
  line-height: 46px;
  display: block;
}
li a:hover {
/*select a good colour for hover*/
  background-color: #808080;
}
.wrapper{
  width: 1000px;
  margin: 0 auto 0 60px;
  background: red;
}
